div {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	font-family: 'Raleway', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

body {
}

form {
	padding: 100;
}

.added_item {
	margin: 10 10;
}

.header {
	height: 200;
	margin: 50 auto;
}

.header_subtitle {
	color: #999;
}

.main {
	height: 600;
}

.input {
	height: 100;
}

.harmony_button {
	height: 100;
}

.items {
	height: 200;
}

.score {
	height: 100;
}

.footer {
	margin-top: 200;
	height: 100;
}