div {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.header {
	height: 100;
	font-size: 100;
}

.main {
	height: 600;
}

.input {
	height: 100;
}

.button {
	height: 100;
}

.items {
	height: auto;
}

.score {
	height: 100;
}

.footer {
	height: 100;
}