<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                Login
            </div>
            <div class="panel-body">
                <form name="loginForm" ng-submit="login()" novalidate>
                    <div class="form-group" ng-class="{'has-error': loginForm.loginEmail.$dirty && loginForm.loginEmail.$invalid}">
                        <label class="control-label"  for="loginEmail">Email</label>
                        <input type="email" class="form-control" ng-model="loginEmail" name="loginEmail" placeholder="Email Address" required/>
                    </div>
                    <div class="form-group"  ng-class="{'has-error': loginForm.loginPassword.$dirty && loginForm.loginPassword.$invalid}">
                        <label class="control-label" for="loginPassword">Password</label>
                        <input type="password" class="form-control" ng-model="loginPassword" name="loginPassword" placeholder="Password" required/>
                    </div>
                    <input type="submit" value="Login" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                Register
            </div>
            <div class="panel-body">
                <form name="registrationForm" ng-submit="register()" novalidate>
                    <div class="form-group" ng-class="{'has-error': registrationForm.registrationEmail.$dirty && registrationForm.registrationEmail.$invalid}">
                        <label class="control-label" for="registrationEmail">Email</label>
                        <input type="email" class="form-control" name="registrationEmail" ng-model="registrationEmail" placeholder="Email Address" required/>
                    </div>
                    <div class="form-group" ng-class="{'has-error': registrationForm.registrationPassword.$dirty && registrationForm.registrationPassword.$invalid}">
                        <label class="control-label" for="registrationPassword">Password</label>
                        <input type="password" class="form-control" ng-model="registrationPassword" name="registrationPassword" placeholder="Password" required/>
                    </div>
                    <input type="submit" value="Register" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
</div>